
<h3 class="title">Agregar Presentacion de Medicamentos</h3>

 <div class="body">
   <div class="form-container">

  <form [formGroup]="medicamentoForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="formula">seleccione la formula</label>
      <select name="" class="select"  formControlName="nombre" required>
        <option *ngFor="let medicamento of data" [value]="medicamento.nombre">
      {{ medicamento.nombre }}
    </option>
      </select>
    </div>

    <div class="form-group">
      <label for="precio">Precio:</label>
      <input id="precio" formControlName="precio" type="number" />
    </div>
    <div class="form-group">
      <label for="precioCompra">Precio de Compra:</label>
      <input id="precioCompra" formControlName="precioCompra" type="number" />
    </div>
    <div class="form-group">
      <label for="precioCompra">cantidad de cajas:</label>
      <input id="precioCompra" formControlName="cantidadCajas" type="number" />
    </div>
    <div class="form-group">
      <label for="precioCompra">unidades  por caja:</label>
      <input id="precioCompra" formControlName="cantidadUnidadesCaja" type="number" />
    </div>
    <div class="form-group">
      <label for="patente">Patente:</label>
      <input id="patente" formControlName="patente" type="text" />
    </div>
    <div class="form-group">
      <label for="gramaje">Gramaje:</label>
      <input id="gramaje" formControlName="gramaje" type="text" />
    </div>
    <div class="form-group">
      <label for="presentacion">Presentación:</label>
      <input id="presentacion" formControlName="presentacion" type="text" />
    </div>
    <div class="form-group">
      <label for="fechaCaducidad">Fecha de Caducidad:</label>
      <input id="fechaCaducidad" formControlName="fechaCaducidad" type="date" />
    </div>

    <!-- Escáner de código de barras -->
    <!-- <div class="form-group">
      <label for="barcodeDisplay">Código de Barras Escaneado:</label>
      <input id="barcodeDisplay" formControlName="barcodeDisplay" type="text" readonly />
      <button type="button" (click)="barcodeScanner.startScanning()">Escanear Código</button>
    </div>

    <app-barcode-scanner (ngModelChange)="onBarcodeDetected()"></app-barcode-scanner> -->

    <button type="submit">Guardar</button>
  </form>
</div>
 </div>

