

<div class="container-register-users">

  <div class="container-form">

    <form [formGroup]="usuariosForms" (ngSubmit)="onSubmit()">
      <h3 class="title">Formulario de Registro de usuarios</h3>
      <div class="form-group">
        <label for="nombre">rol:</label>
        <input id="rol" formControlName="rol" type="text" required />
      </div>
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input id="nombre" formControlName="nombre" type="text" required />
      </div>

      <div class="form-group">
        <label for="apellidoPaterno">Apellidos:</label>
        <input id="apellido" formControlName="apellido" type="text" required />
      </div>


      <div class="form-group">
        <label for="correo">Correo:</label>
        <input id="email" formControlName="email" type="email" required />
      </div>

      <div class="form-group">
        <label for="contrasena">Contraseña:</label>
        <input id="contra" formControlName="contra" type="password" required />
      </div>

      <div class="form-group">
        <label for="contrasena">numero de telefono:</label>
        <input id="num_tel" formControlName="num_tel" type="password" required />
      </div>

      <button type="submit" >Registrar</button>
    </form>

    <div class="image">
      <img src="../../../../../assets/profile.png" width="330px" height="330px">
    </div>

  </div>


</div>
