
<div class="admin-container">
 
    <header class="admin-header">
      <nav class="nav-links">
        <a href="#">administracion</a>
        <a href="#">inventario</a>
        <a href="#">enfermeros</a>
      </nav>
      <div class="user-info">
        <span><i class="fas fa-bell"></i> ESDRAZ GABRIEL</span>
        <span class="role">administrador</span>
      </div>
    </header>

    <main class="admin-content">
      <h1>Bienvenido(a), la vista administrador</h1>
      <h2>ADMINISTRADOR</h2>
      <div class="icon-grid">
        <app-recetario></app-recetario>
        <app-historial-consultas></app-historial-consultas>
        <app-medicamentos></app-medicamentos>
        <app-agenda></app-agenda>
        <app-camillas></app-camillas>
        <app-usuarios></app-usuarios>
      </div>
    </main>
  </div>
  