<!--<div>
  <form (ngSubmit)="OnSave()">
    <div *ngFor="let key of getObjectKeys(editedData)">
      <label>{{ key }}</label>
      <input [(ngModel)]="editedData[key]" [name]="key">
    </div>
    <button type="submit">Guardar</button>
    <button type="button" (click)="OnCancel()">Cancelar</button>
  </form>
</div>
-->

<form (ngSubmit)="OnSave()">
  <div *ngFor="let key of getObjectKeys(editedData)">
    <label>{{ key }}</label>
    <input [(ngModel)]="editedData[key]" name="{{key}}" type="number" required />
  </div>

  <button type="submit">Guardar</button>
  <button type="button" (click)="OnCancel()">Cancelar</button>
</form>
