<div class="modal-overlay">
  <div class="modal-content">
    <!-- Botón para cerrar el modal -->
    <button (click)="onClose()" class="close-button">X</button>

    <div id="hoja-enfermeria-content">
      <!-- Contenedor del título y logo de la clínica -->
      <div class="container-title">
        <img src="./../../../../assets/logo2.png" alt="Logo" width="74px" height="64px">
        <h2>CLÍNICA LA PAZ</h2>
      </div>

      <!-- Mostrar nombre del paciente -->
      <h3>Paciente: {{ paciente?.nombrePaciente }}</h3>

      <!-- Mostrar mensaje de carga mientras se obtienen los datos -->
      <div *ngIf="isLoading">Cargando datos...</div>

      <!-- Mostrar contenido de la hoja de enfermería -->
      <div *ngIf="!isLoading">
        <!-- Mostrar hoja de enfermería -->
        <table *ngIf="hojaEnfermeria">
          <tr>
            <td><strong>Nombre del Paciente:</strong></td>
            <td>{{ hojaEnfermeria.nombrePaciente }}</td>
          </tr>
          <tr>
            <td><strong>Número de Camilla:</strong></td>
            <td>{{ hojaEnfermeria.numeroCamilla }}</td>
          </tr>
          <tr>
            <td><strong>Diagnóstico:</strong></td>
            <td>{{ hojaEnfermeria.diagnostico }}</td>
          </tr>
          <tr>
            <td><strong>Indicaciones Médicas:</strong></td>
            <td>{{ hojaEnfermeria.indicacionesMedicas }}</td>
          </tr>
          <tr>
            <td><strong>Medicamento:</strong></td>
            <td>{{ hojaEnfermeria.nombre }}</td>
          </tr>
          <tr>
            <td><strong>Presentación:</strong></td>
            <td>{{ hojaEnfermeria.presentacion }}</td>
          </tr>
          <tr>
            <td><strong>Dosis:</strong></td>
            <td>{{ hojaEnfermeria.dosis }}</td>
          </tr>
          <tr>
            <td><strong>Vía:</strong></td>
            <td>{{ hojaEnfermeria.via }}</td>
          </tr>
          <tr>
            <td><strong>Hora de Administración:</strong></td>
            <td>{{ hojaEnfermeria.hora }}</td>
          </tr>
          <tr>
            <td><strong>Día de Tratamiento:</strong></td>
            <td>{{ hojaEnfermeria.diaTratamiento }}</td>
          </tr>
        </table>
        
   
      </div>
    </div>

    <!-- Botón para imprimir la hoja de enfermería -->
    <button (click)="printHojaEnfermeria()" class="imprimir">Imprimir</button>
  </div>
</div>
