/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 1200px;
  background-color: #fff;
  border-radius: 8px;
  padding: 2rem;
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  /*margin-top: 20px;
  */
  position: relative;
    top: 2rem;
  left: 300px;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #003366;
  color: white;
}

td {
  background-color: #f8f8f8;
}

tr:nth-child(even) td {
  background-color: #eaeaea;
}

/* Loading text */
.isLoading {
  color: #003366;
  font-size: 18px;
  text-align: center;
  margin-top: 50px;
}

/* Buttons */
button {
  background-color: #003366;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;

}

button:hover {
  background-color: #00509e;
}


.container-button{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* Modal styling */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.modal div {
  background-color: #003366;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
}

input{
  color: #003366;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  left: 200px;
}

.modal .f1 label{
  position: relative;
  display: flex;
  left: 230px;
  margin-top: -35px;
  top: 34px;
}

.modal .f1{
  color: #003366;
  background-color: #eaeaea;
  width: 600px;
  height: 750px;
}

.modal .f1 button {
  background-color: #ff3333;
  margin-top: 15px;
  margin-left: 10px;
  position: relative;
  top: 80px;
  right: 30px;
}

.modal img{
  position: relative;
  width: 150px;
  height: 150px;
  left:90px;
  margin: 50px;
}

.modal button {
  background-color: #ff3333;
  margin-top: 15px;
  margin-left: 10px;
}

.modal button:hover {
  background-color: #d22a2a;
}

/* Responsive styles */
@media (max-width: 768px) {
  table {
    font-size: 14px;
    top: 200px;
    left: auto;
    width: auto;
  }

  th, td {
    padding: 8px;
  }

  .container {
    width: 95%;
    padding: 10px;
  }

  button {
    font-size: 14px;
    padding: 8px 12px;
  }

  .modal div {
    padding: 20px;
  }
}
