<div class="container">
  <div *ngIf="isLoading">Cargando medicamentos...</div>

  <table *ngIf="!isLoading">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Precio Compra</th>
        <th>Precio Venta</th>
        <th>Patente</th>
        <th>Gramaje</th>
        <th>Presentación</th>
        <th>Fecha de Caducidad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let medicamentoTotal of presentaciones">
        <td>{{ medicamentoTotal.nombre }}</td>
        <td>{{ medicamentoTotal.precioCompra }}</td>
        <td>{{ medicamentoTotal.precio }}</td>
        <td>{{ medicamentoTotal.patente }}</td>
        <td>{{medicamentoTotal.gramaje}}</td>
        <td>{{medicamentoTotal.presentacion}}</td>
        <td>{{ medicamentoTotal.fechaCaducidad }}</td>
        <td>
          <!-- <button (click)="onEdit()">Editar</button>
          <button (click)="onDelete(medicamentoTotal)">Eliminar</button> -->
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modal de confirmación para eliminar -->
  <div *ngIf="showDeleteModal" class="modal">
    <p>¿Estás seguro de que deseas eliminar el medicamento {{ selectedRow?.nombre }}?</p>
    <button (click)="onDeleteConfirm()">Confirmar</button>
    <button (click)="onCancel()">Cancelar</button>
  </div>

  <!-- Modal para editar -->
  <div *ngIf="showEditModal" class="modal">
    <p>Editando: {{ selectedRow?.nombre }}</p>

    <button (click)="onCancel()">Cerrar</button>
  </div>
</div>


